/*Action Section Start*/
.action {
    margin-top: 116px;
    display: flex;
    justify-content: center;
    /* height: 328px;
   margin-left: 141px;
   margin-right: 159px;*/
}

.action-container {
    width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between;
}

.action-left {
    font-family: "Raleway", sans-serif;
    width: 517px;
    height: 203px;
    margin: 62.5px 220px 62.5px 0px;
}

#action-title {
    color: #252432;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 23px;
}

#action-subtitle {
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 23px;
}

#wc-mini-img {
    height: 328px;
    width: 403px;
    border-radius: 48px;
}

/* Action Section end */
/* Productive Users Section Start */
.productive-users {
    display: flex;
    justify-content: center;
    margin-top: 116px;
}

.productive-users-container {
    width: 1140px;
    height: 306px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
}

#productive-users-title {
    margin-top: 50px;
    font-size: 38px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #252432;
    text-align: center;
}

.data {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 158px;
}

.data-size {
    font-size: 80px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #4E47FF;
}

.data-type {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

/* Productive Users Section End */
/* Users Feedback Section Start */
.users-feedback {
    /* margin-top: 116px; */
    display: flex;
    justify-content: center;
    margin: 137px 149px 137px 151px;
    /* height: 342px; */
    font-family: Arial, Helvetica, sans-serif;
}

#users-feedback-title {
    font-size: 42px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #252432;
    text-align: center;
    margin-bottom: 50px;
}

.user-box {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 14px;
}

.users-feedback-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.users-star {
    display: flex;
    justify-content: left;
    gap: 4px;
    padding: 24px 226.67px 24px 24px;
    height: 20px;
    width: 116px;
}

.comment-title {
    font-size: 24px;
    color: #252432;
    font-weight: 600;
    padding: 0px 97.67px 8px 24px;
}

.comment {
    padding: 0px 24px 24px 24px;
    font-size: 16px;
    color: #252432;
    font-weight: 200;
    line-height: 25px;
    height: 44px;
    width: 318.67px;
}

.user-info {
    display: flex;
    padding: 0px 24px 24px 24px;
    gap: 6px;
}

.user-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user-name {
    font-size: 16px;
    color: dimgray;
    margin-bottom: 2px;
}

.user-date {
    color: darkgrey;
}

/* Users Feedback Section End */
/* Ready to focus Section Start*/
.ready-to-focus {
    margin: 0px 149px 92.23px 151px;
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
}

.ready-to-focus-box {
    align-items: center;
    text-align: center;
    align-items: center;
    height: 696.77px;
    width: 1140px;
    background-color: #FFFFFF;
    border-radius: 14px;
}

#ready-to-focus-title {
    text-align: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    color: #000000;
    padding: 71px 312px 20px 312px;
}

#ready-to-focus-subtitle {
    color: rgba(0, 0, 0, 0.5);
    padding: 0px 326.5px 20px 326.5px;
    text-align: center;
    align-items: center;
}

#ready-to-focus-img {
    text-align: center;
    align-items: center;
    height: 364.77px;
    width: 840px;
    padding: 20px 150px 71px 150px;
}

/* Ready to focus Section End */